<!DOCTYPE html>
<html>
<head>
  <title>Postrip</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="../../javascripts/jquery.js"></script>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Antic|Covered+By+Your+Grace|Monoton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
<div class="content">
<video playsinline autoplay loop poster="/videos/Snapshots/Sunset.jpg" class="bgvid">
            <source src="/videos/MP4/Sunset.mp4" type="video/mp4" />
        </video>


<div class="nav_bar">
 <ul>
  <li id="logo"><a  href="/home" ><div><img id="log" src="images/logo.png" ></div></a><li>
    <li id="app_name"><a  href="/home" >Postrip</a></li>
    <li class="items"><a  href="/home" >Home</a></li>
    <li class="items"><a  href="/places" >Destinations 2017</a></li>
     <li class="items"><a  href="/posts" >Post Your Trip</a></li>
     <li class="items"><a  href="/postrips" >User Advice</a></li>
    <li class="items"><a  href="/map" >Google map</a></li>
 </ul>
</div>

<h3 class="phrase">Share your adventures <br>Take us to the edge <br>of your most exciting travel experiences</h3>
<a href="/login"><button id="login">Login</button></a>
<a href="/signup"><button id="signup">Signup</button></a>
</div>
<footer>
<hr class="horse">
<p class="reg">© 2017 Danilo Marichal. All rights reserved.</p>

</footer>
</body>
<script src="/javascripts/script.js"></script>
</html>
